PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lunaro?schema=public"
JWT_SECRET="replace-with-strong-secret"
RESEND_API_KEY="re_replace_with_your_resend_api_key"
MAIL_FROM="Lunaro Core <noreply@lunaro.local>"
CONTACT_TO_EMAIL="ahmedmohamedstoer1234@gmail.com"
PUBLIC_SITE_URL="http://localhost:5173"
FRONTEND_URL="http://localhost:5173"
VITE_API_URL="http://localhost:4000"
GOOGLE_SITE_VERIFICATION="VwmnIhFF34nCMMML40ZLlaAgQytC2c62beFHX7pSdGI"
